<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        This project is an Angular coding assignment. The context is that the project will be a
        <strong>Company Address Book</strong>. The current iteration has a list of users on the left side
        of the browser window, and a panel for details about a user on the right side.
      </p>
      <p>
        The assignment is to refactor and enhance the project to bring it to the next level:
      </p>
      <ul>
        <li>Clicking on a user in the list on the left should update the details panel with the information from
          the selected user.</li>
        <li>A control should be added to the details panel allowing the User to edit the details of the displayed user.
          The 'user name' attribute should be read-only; all other attributes may be freely modified.</li>
        <li>The team member list should automatically update with any pertinent changes to the user record.</li>
        <li>A control should be added to the application allowing the User to add a new user record.</li>
      </ul>
      <p>
        Extra credit:
      </p>
      <ul>
        <li>Unit tests for new code / functionality</li>
        <li>Enforce uniqueness among user names when new users are added</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <app-user-list></app-user-list>
    </div>
    <div class="col-sm-9">
      <app-user-details></app-user-details>
    </div>
  </div>
</div>
